SPRING_PROFILES_ACTIVE=local
DB_URL=jdbc:postgresql://<host>:<port>/<database>?sslmode=require&prepareThreshold=0
DB_USERNAME=<db-username>
DB_PASSWORD=<db-password>
SENTRY_DSN=
SENTRY_ENVIRONMENT=local
